<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partial/head') %>
        <title>Form Create Product</title>
</head>

<body>
    <%- include('partial/header') %>
        <main class="form-container">

            <form class="form" method="POST" action="/product/createProduct" enctype="multipart/form-data">
            <!-- <form class="form" method="POST" action="/product/createProduct" > -->
                <h2 class="titulo-form-registro">Cargar producto</h2>

                <div class="div-form">
                    <label for="product-name">Nombre del producto</label>
                    <input type="text" id="product-name" name="productName"
                        value="<%= locals.old ? old.productName : '' %>"
                        class="<%= (locals.errors && errors.productName) ? 'error-input' : '' %>">
                    <%- locals.errors && errors.productName ? `<p class="msg-error">${errors.productName.msg}</p>` : ''
                        %>
                </div>

                <div class="div-form">
                    <label for="description">Descripción</label>
                    <input type="text" id="description" name="description"
                        value="<%= locals.old ? old.description : '' %>"
                        class="<%= (locals.errors && errors.description) ? 'error-input' : '' %>">
                    <%- locals.errors && errors.description ? `<p class="msg-error">${errors.description.msg}</p>` : ''
                        %>
                </div>

                <div class="div-form">
                    <label for="category">Categoría</label>
                    <input type="text" id="category" name="category" value="<%= locals.old ? old.category : '' %>"
                        class="<%= (locals.errors && errors.category) ? 'error-input' : '' %>">
                    <%- locals.errors && errors.category ? `<p class="msg-error">${errors.category.msg}</p>` : '' %>
                </div>

                <div class="div-form">
                    <label for="color">Color</label>
                    <input type="text" id="color" name="color" value="<%= locals.old ? old.color : '' %>"
                        class="<%= (locals.errors && errors.color) ? 'error-input' : '' %>">
                    <%- locals.errors && errors.color ? `<p class="msg-error">${errors.color.msg}</p>` : '' %>
                </div>

                <div class="div-form">
                    <label for="price">Precio</label>
                    <input type="number" id="price" name="price" value="<%= locals.old ? old.price : '' %>"
                        class="<%= (locals.errors && errors.price) ? 'error-input' : '' %>">
                    <%- locals.errors && errors.price ? `<p class="msg-error">${errors.price.msg}</p>` : '' %>
                </div>

                <div class="div-form file">
                    <label for="product-img" class="label-file">Cargue la imagen del producto</label>
                    <input name="productImg" type="file" id="product-img" class="load-file">
                    <% if (locals.errors && errors.productImg) { %>
                        <p class="msg-error">
                            <%= errors.productImg.msg %>
                        </p>
                        <% } %>
                </div>

                <div class="div-form-bt">
                    <button type="submit" class="btnPrimary">Subir producto</button>
                    <button type="reset" class="btnPrimary">Cancelar</button>
                </div>

            </form>
        </main>
        <%- include('partial/footer')%>
</body>

</html>