<!DOCTYPE html>
<html lang="es">

<head>

    <%- include('partial/head') %>
</head>

<body>


    <%- include('partial/header') %>


        <main class="home">


            <section class="enlaces">
                <a href="#" class="">INDUMENTARIA</a>
                <a href="#" class="">FIXTURE</a>
                <a href="#" class="">NOTICIAS</a>
                <a href="#" class="">CONTACTO</a>
              </section>

            <section>
                <img id="" src="/images/monumental.jpg" class="bannerGrande" alt="Monumental">
            </section>

            <section class="spamLogin">
                <div><a href="/register">Registrarse</a></div>
            </section>

            <section id="sport" class="productosDestacados">
                <% products.forEach(producto => { %>
                    <div class="elemento">
                        <img src="/<%= producto.image %>" alt="<%= producto.name_product %>" />
                        <div class="caja">
                            <div class="nombre"><b><%= producto.name_product %></b></div>
                            <div class="descripcion"><%= producto.description %></div>
                            <div class="color">Color: <%= producto.id_color || 'No especificado' %></div>
                            <div class="color">Tamaño: <%= producto.id_size || 'No especificado' %></div>
                            <div class="color">Marca: <%= producto.id_brand || 'No especificado' %></div>
                            <div class="color">Categoría: <%= producto.id_category || 'No especificado' %></div>
                            <div class="precio">$<%= producto.price %></div>
                        </div>
                        <a href="/product/productDetail/<%= producto.id %>" class="btnPrimary">Añadir al carrito</a>
                    </div>
                <% }); %>
            </section>
        </main>

        <%- include('partial/footer')%>

</body>

</html>