<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partial/head') %>

</head>

<body>

    <%- include('partial/header') %>
        <main class="form-container">

            <form class="form" method="POST" action="/user/register" enctype="multipart/form-data">
                <h2 class="titulo-form-registro">Formulario de Registro</h2>

                <div class="div-form">
                    <label for="username">Nombre de usuario </label>
                    <input type="text" id="username" name="username" value="<%= locals.old ? old.username : '' %>"
                        class="<%= (locals.errors && errors.username) ? 'error-input' : '' %>">
                    <%- locals.errors && errors.username ? `<p class="msg-error">${errors.username.msg}</p>` : '' %>
                </div>

                <div class="div-form">
                    <label for="first_name">Nombre</label>
                    <input type="text" id="first_name" name="first_name" value="<%= locals.old ? old.first_name : '' %>"
                        class="<%= (locals.errors && errors.first_name) ? 'error-input' : '' %>">
                    <%- locals.errors && errors.first_name ? `<p class="msg-error">${errors.first_name.msg}</p>` : '' %>
                </div>

                <div class="div-form">
                    <label for="last_name">Apellido</label>
                    <input type="text" id="last_name" name="last_name" value="<%= locals.old ? old.last_name : '' %>"
                        class="<%= (locals.errors && errors.last_name) ? 'error-input' : '' %>">
                    <%- locals.errors && errors.last_name ? `<p class="msg-error">${errors.last_name.msg}</p>` : '' %>
                </div>

                <div class="div-form">
                    <label for="email">Correo Electr칩nico</label>
                    <input type="email" id="email" name="email" value="<%= locals.old ? old.email : '' %>"
                        class="<%= (locals.errors && errors.email) ? 'error-input' : '' %>">
                    <%- locals.errors && errors.email ? `<p class="msg-error">${errors.email.msg}</p>` : '' %>
                </div>

                <div class="div-form">
                    <label for="reemail">Confirmar Correo Electr칩nico</label>
                    <input type="email" id="reemail" name="re_email" value="<%= locals.old ? old.re_email : '' %>"
                        class="<%= (locals.errors && errors.re_email) ? 'error-input' : '' %>">
                    <%- locals.errors && errors.re_email ? `<p class="msg-error">${errors.re_email.msg}</p>` : '' %>
                </div>

                <div class="div-form">
                    <label for="password">Contrase침a</label>
                    <input type="password" id="password" name="password"
                        class="<%= (locals.errors && errors.password) ? 'error-input' : '' %>">
                    <%- locals.errors && errors.password ? `<p class="msg-error">${errors.password.msg}</p>` : '' %>
                </div>

                <div class="div-form">
                    <label for="repassword">Confirmar Contrase침a</label>
                    <input type="password" id="repassword" name="re_password"
                        class="<%= (locals.errors && errors.re_password) ? 'error-input' : '' %>">
                    <%- locals.errors && errors.re_password ? `<p class="msg-error">${errors.re_password.msg}</p>` : ''
                        %>
                </div>

                <div class="mb-3">
                    <label for="avatar" class="form-label label-file">Cargue su foto de perfil</label>
                    <input class="form-control" type="file" id="avatar" name="avatar">
                    <% if (locals.errors && errors.avatar) { %>
                        <p class="msg-error">
                            <%= errors.avatar.msg %>
                        </p>
                        <% } %>
                </div>



                <div class="div-form-bt">
                    <button type="submit" class="btnPrimary">Registrarse</button>
                    <button type="reset" class="btnPrimary">Cancelar</button>
                </div>

            </form>
        </main>

        <script src="/js/register.js"></script>
        <%- include('partial/footer') %>
</body>

</html>