<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partial/head') %>
        <title>Form Create Product</title>
</head>

<body>
    <%- include('partial/header') %>
        <main class="form-container">

            <form class="form" method="POST" action="/product/createProduct" enctype="multipart/form-data">
                <!-- <form class="form" method="POST" action="/product/createProduct" > -->
                <h2 class="titulo-form-registro">Cargar producto</h2>

                <div class="div-form">
                    <label for="product-name">Nombre del producto</label>
                    <input type="text" id="product-name" name="productName"
                        value="<%= locals.old ? old.productName : '' %>"
                        class="form-control <%= (locals.errors && errors.productName) ? 'error-input' : '' %>">
                    <%- locals.errors && errors.productName ? `<p class="msg-error">${errors.productName.msg}</p>` : ''
                        %>
                </div>

                <div class="div-form">
                    <label for="description">Descripción</label>
                    <input type="text" id="description" name="description"
                        value="<%= locals.old ? old.description : '' %>"
                        class="form-control <%= (locals.errors && errors.description) ? 'error-input' : '' %>">
                    <%- locals.errors && errors.description ? `<p class="msg-error">${errors.description.msg}</p>` : ''
                        %>
                </div>

                <div class="div-form">
                    <label for="category">Categoría</label>
                    <select id="category" name="category" class="form-control">
                        <% categories.forEach(category=> { %>
                            <option value="<%= category.id_category %>">
                                <%= category.name %>
                            </option>
                            <% }); %>
                    </select>
                    <%- locals.errors && errors.category ? `<p class="msg-error">${errors.category.msg}</p>` : '' %>
                </div>


                <div class="div-form">
                    <label for="color">Color</label>
                    <select id="color" name="color" class="form-control">
                        <% colors.forEach(color=> { %>
                            <option value="<%= color.id_color %>">
                                <%= color.name %>
                            </option>
                            <% }); %>
                    </select>
                    <%- locals.errors && errors.color ? `<p class="msg-error">${errors.color.msg}</p>` : '' %>
                </div>

                <div class="div-form ">
                    <label for="stock">Stock</label>
                    <input type="number" id="stock" name="stock" value="<%= locals.old ? old.price : '' %>"
                        class="form-control <%= (locals.errors && errors.stock) ? 'error-input' : '' %>">
                    <%- locals.errors && errors.stock ? `<p class="msg-error">${errors.stock.msg}</p>` : '' %>
                </div>

                <div class="div-form">
                    <label for="price">Precio</label>
                    <input type="number" id="price" name="price" value="<%= locals.old ? old.price : '' %>"
                        class="form-control <%= (locals.errors && errors.price) ? 'error-input' : '' %>">
                    <%- locals.errors && errors.price ? `<p class="msg-error">${errors.price.msg}</p>` : '' %>
                </div>
                <div class="div-form">
                    <label for="brand">Marca</label>
                    <select id="brand" name="brand" class="form-control">
                        <% brands.forEach(brand=> { %>
                            <option value="<%= brand.id_brand %>">
                                <%= brand.name %>
                            </option>
                            <% }); %>
                    </select>
                </div>
                <div class="div-form">
                    <label for="size">Tamaño</label>
                    <select id="size" name="size" class="form-control">
                        <% sizes.forEach(size=> { %>
                            <option value="<%= size.id_size %>">
                                <%= size.name %>
                            </option>
                            <% }); %>
                    </select>
                </div>

                <div class="div-form file">
                    <label for="product-img" class="label-file">Cargue la imagen del producto</label>
                    <input name="productImg" type="file" id="product-img" class="load-file ">
                    <% if (locals.errors && errors.productImg) { %>
                        <p class="msg-error">
                            <%= errors.productImg.msg %>
                        </p>
                        <% } %>
                </div>



                <div class="div-form-bt">
                    <button type="submit" class="btnPrimary">Subir producto</button>
                    <button type="reset" class="btnPrimary">Cancelar</button>
                </div>

            </form>
        </main>
        <%- include('partial/footer')%>
</body>

</html>