<!DOCTYPE html>

<html lang="es">

<head>
    <%- include('partial/head') %>
        <title>Product Cart</title>
</head>

<body>
    <%- include('partial/header') %>

        <main class="main-product-cart">

            <h1>Tu Carrito</h1>

            <div class="products-cart">
                <% cart.forEach(product=> { %>
                    <div class="product-card">
                        <button class="btn-remove" data-id="<%= product.id_product %>"><i
                                class="fas fa-trash"></i></button>
                        <img src="/images/products/<%= product.image %>" alt="<%= product.name_product %>"
                            class="product-image">
                        <div class="product-details">
                            <h3>
                                <%= product.name_product %>
                            </h3>
                            <p>Precio unitario: $<%= product.price %>
                            </p>
                            <p>
                                <%= product.quantity %>
                            </p>
                        </div>
                    </div>
                    <% }); %>
            </div>

            <div class="summary">
                <h2 class="summary-title">Resumen del pedido</h2>
                <p>Cantidad total de productos: <%= total.cantidad %></p>
                <div class="total">
                    <p>Total: $<%= total.precioTotal %></p>
                </div>
                <button class="btnPrimary" id="endPurchase">Finaliza compra</button>
            </div>
        </main>
        <script src="/js/purchaseCart.js"></script>
        <%- include('partial/footer') %>
</body>

</html>