<!DOCTYPE html>
<html lang="es">

<head>

    <%- include('partial/head') %>
</head>

<body>


    <%- include('partial/header') %>


        <main class="home">

              <%- include('partial/enlaces') %>
              <%- include('partial/products') %>
        </main>

        <%- include('partial/footer')%>

</body>

</html>