<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partial/head') %>
        <title>Detalle del Producto</title>
</head>

<body>
    <%- include('partial/header') %>
        <main class="py-5">
            <div class="card-custom mb-3">
                <div class="card-body-custom">
                    <img src="/images/products/<%= product.image %>" alt="<%= product.name %>" width="300">
                    <div class="card-body text-center align-items-center">
                        <h5 class="card-title">
                            <%= product.name %>
                        </h5>
                        <p class="card-text">
                            <%= product.description %>
                        </p>
                        <p class="card-text">Precio: $<%= product.price %>
                        </p>
                        <p class="card-text">Stock: <%= product.stock %>
                        </p>
                        <p>
                            Color: <%= product.color.toUpperCase() || 'No especificado' %>
                        </p>
                        <p>
                            Tamaño: <%= product.size || 'No especificado' %>
                        </p>
                        <p>
                            Marca: <%= product.brand || 'No especificado' %>
                        </p>
                        <p>
                            Categoría: <%= product.category || 'No especificado' %>
                        </p>
                    </div>
                </div>

                <div class="card-footer my-4">
                    <button class="btnPrimary">Agregar al Carrito</button>
                    <button class="btnPrimary btnBack">volver</button>
                </div>
            </div>
        </main>
        <%- include('partial/footer') %>
</body>

</html>